//
//
//
//10.01.2018 14:00
//Created by @y05ef
//main.css file
//
//
//
a.A {
     color:black;}
p.copy {
     font-family:Gruppo;}
h2.title {
     font-family: Optima, sans-serif;}
img {
     border-radius:50%;}
body {
     background-color:#f0f8ff;}
p.blog, a{
     font-family:american typewriter ,serif;}
li {
     list-style-type: none;}
a {
     text-decoration: none;}