/* Default CSS
17.01.2018 15:09
Created by @y05ef
style.css file
*/
 a.A {
     color:black;}
p.copy {
     font-family:Gruppo;}
h1.title {
     font-family: Optima, sans-serif;}
img {
     border-radius:50%;}
body {
     background-color:red;}
p.blog, a, b.blog{
     font-family:american typewriter ,serif;}
li {
     list-style-type: none;}
a {
     text-decoration: none;}
